/* Task 10: Import colors from 10-colors.scss and assign text colors to .red, .green, .blue */
@import '10-colors';

.red {
    color: $red;
}

.green {
    color: $green;
}

.blue {
    color: $blue;
}
