/* Task 2: Assign text color #3D3D3D and background color #6D6D6D using two Sass variables */
$text-color : #3D3D3D;
$bg-color : #6D6D6D;

body,p {
    color: $text-color;    
}

body,h2 {
    background-color: $bg-color;
}
